# Prueba de consolidación I

Entornos de data science con Python
# Parte 1

En esta primera parte trabajaremos con ficheros de la iniciativa de datos abiertos del Gobierno británico. Pueden consultarse aquí: <https://www.data.gov.uk/dataset/broadband-coverage>
Si descargamos el fichero etiquetado como csv/zip denominado "Broadband Coverage and speeds (postcode level data)" y lo descomprimimos tendremos el dataset en dos fragmentos y la descripción del mismo.

### 1.1. Lectura de datos
- Carga los datos como un DataFrame fusionando los dos ficheros en uno solo.

In [10]:
import numpy as np
import pandas as pd
#asignando ruta donde han de estar los archivos; ofcom-part1-fixed-broadband-postcode-level-data-2013.csv y ofcom-part2-fixed-broadband-postcode-level-data-2013.csv
path="/home/oscar/MASTER_BIG_DATA/4_ENTORNOS_DATA_SCIENCE_python/Ejercicio_de_Consolidacion/ofcom-uk-fixed-broadband-postcode-level-data-2013/"
data_file_1 = pd.read_csv(path+"ofcom-part1-fixed-broadband-postcode-level-data-2013.csv")

#evaluando numero de filas y columnas de los datos cargados de cada archivo
print data_file_1.shape
data_file_2 = pd.read_csv(path+"ofcom-part2-fixed-broadband-postcode-level-data-2013.csv")
print data_file_2.shape

IOError: File /home/oscar/MASTER_BIG_DATA/4_ENTORNOS_DATA_SCIENCE_python/Ejercicio_de_Consolidacion/ofcom-uk-fixed-broadband-postcode-level-data-2013/ofcom-part1-fixed-broadband-postcode-level-data-2013.csv does not exist

In [9]:
#Fusionando datos en dos ficheros en un DataFrame.
uk_data=data_file_1.append(data_file_2)
print uk_data.shape

NameError: name 'data_file_1' is not defined

- Renombra la primera columna para hacerla más corta (investiga alguna función para renombrar en pandas).

In [ ]:
uk_data.columns

In [ ]:
#renombrando primera columna y columnas con espacios y caracteres especiales
uk_data = uk_data.rename(columns={'Postcode(No Spaces) ': 'post_code'
                            , ' Postcode Data Status ': 'post_code_st'
                            , ' Lines < 2Mbps(Y/N) ': 'lines_lt_2mbps'
                            , ' Average Speed/Mbps ': 'avg_speed'
                            , ' Median Speed/Mbps ': 'median_speed'
                            , ' Maximum Speed/Mbps': 'max_speed'
                            , ' NGA Available(Y/N) ': 'nga_available'
                            , 'Number of Connections': 'num_conn'})

In [ ]:
uk_data.head()

### 1.2. Limpieza de datos
- Observa los valores faltantes (¿en qué columnas están?), cuantifícalos (¿cuántos hay en cada columna?). Pista: la función np.unique() puede darnos ayuda en esto.

In [ ]:
#valores nulos
uk_data.isnull().sum()
#uk_data.notnull().all()
#print np.unique(uk_data.post_code)
#print np.unique(uk_data.post_code_st)
#print np.unique(uk_data.lines_lt_2mbps)
#print np.unique(uk_data.avg_speed)
#print np.unique(uk_data.median_speed)
#print np.unique(uk_data.max_speed)
#print np.unique(uk_data.nga_available)
#print np.unique(uk_data.num_conn)

¿en qué columnas están?
- RTA: las columnas: lines_lt_2mbps, avg_speed, median_speed y max_speed, tienen valores nulos
¿cuántos hay en cada columna?
- RTA: hay 588441 en cada columna (lines_lt_2mbps, avg_speed, median_speed y max_speed)

- Cuenta cuántas filas quitamos si eliminamos todas las filas con algún valor faltante, o con al menos tres valores faltantes.

In [ ]:
#numero de filas con algun valor faltante
print (uk_data.isnull().any(axis=1).sum())
#numero de filas con al menos tres valores faltantes
print (sum(uk_data.isnull().sum(axis=1)>3))

### 1.3. Procesamiento
- Extrae las variables que refieren a la velocidad media, mediana y máxima y el código postal a una matriz de NumPy.

In [ ]:
cols=["avg_speed","median_speed","max_speed","post_code"]
m_data=uk_data[cols].as_matrix()
print type(m_data)
m_data

El siguiente código permite convertir una de las columnas a numérico (suponemos que m es la matriz del punto anterior):

In [ ]:
def isFloat(string):
    try:         
       float(string)         
       return True     
    except ValueError:         
       return False 

vec = [] 
for i in np.asarray(m_data[:, 1]):     
   if isFloat(i):
    vec.append(float(i))
vec[20:30]

- Basándote en la idea del código anterior, calcula la diferencia en valor absoluto entre la media de la velocidad y el valor 3.0  por cada código postal, utilizando arrays de NumPy. Nota: No todos los valores son convertibles, por lo que no se aplicará a todas las filas.

In [ ]:
import math
vec2 = [] 
for i in np.asarray(m_data[:, 2]):     
   if isFloat(i):
    if not math.isnan(float(i)):
        vec2.append(abs(float(i)-3.0))
   #else:
   # vec2.append(i)
print vec2[0:100]

- Y dibuja un boxplot de la velocidad media para los datos que pueden convertirse a float con la función isFloat (ignora el resto), previamente tomando los primeros 3000 valores y partiendo el array en tres trozos, formando una matriz con tres subseries de 1000 datos cada una.

In [ ]:
#vec2=filter(lambda v: v==v, vec2)
#matrix_sub = np.asmatrix(np.array([vec2[0: 999], vec2[1000: 1999], vec2[2000:2999]]))

import matplotlib.pyplot as plt
%matplotlib inline

collectn_1 = vec2[0: 999]
collectn_2 = vec2[1000: 1999]
collectn_3 = vec2[2000:2999]
   
data_to_plot = [collectn_1, collectn_2, collectn_3]

plt.boxplot(data_to_plot)
plt.show()

# Parte 2
En esta segunda parte trabajaremos con un dataset de R que describe las características físicas de un conjunto de diamantes. Puede obtenerse de Internet.
- Calcula los valores máximo, mínimo y medio de la variable carat.

In [ ]:
#asignando ruta donde han de estar el archivo
path="/home/oscar/MASTER_BIG_DATA/4_ENTORNOS_DATA_SCIENCE_python/Ejercicio_de_Consolidacion/"
diamonds_df = pd.read_csv(path+"diamonds.csv")

# valores máximo, mínimo y medio de la variable carat.
print max(diamonds_df.carat)
print min(diamonds_df.carat)
print diamonds_df.carat.mean()
 # Desviación típica
print np.std(diamonds_df.carat)
print len(diamonds_df.carat)

- Dibuja su histograma y sobre el mismo gráfico, el histograma de una muestra aleatoria del mismo tamaño con puntos obtenidos de una distribución gamma con la misma media y desviación típica. Haz que la visualización sea más adecuada haciendo transparente uno de los histogramas utilizando el parámetro alpha.

In [ ]:
plt.hist(diamonds_df.carat,alpha=0.3,color="r")

shape = diamonds_df.carat.mean() # media
scale = np.std(diamonds_df.carat) # dispercion
size = len(diamonds_df.carat) # tamaño muestra 
random_gamma = np.random.gamma(shape, scale, size)

plt.hist(random_gamma,alpha=0.2,color="b")

plt.show()

- Utilizando matplotlib, dibuja la nube de puntos de carat contra el precio, con ambos ejes en escala logarítmica.

In [ ]:
plt.scatter(np.log(diamonds_df.carat),np.log(diamonds_df.price),alpha=0.1)
plt.show()

- Ahora repite el gráfico pero utiliza solo los datos cuyo color sea "E" y su claridad sea "SI1"

In [ ]:
new_diamonds_df = diamonds_df.loc[((diamonds_df.color=="E")&(diamonds_df.clarity=="SI1")),:]
plt.scatter(np.log(new_diamonds_df.carat),np.log(new_diamonds_df.price),alpha=0.3)
plt.show()

- Investiga con un gráfico la relación entre el volumen (que puedes aproximar a partir de x, y, z) y el precio, de nuevo en escala logarítmica.

In [3]:
vol = diamonds_df.x*diamonds_df.y*diamonds_df.z
price = diamonds_df.price

plt.plot(np.log(vol),color ="b") # volumen
plt.plot(np.log(price),color = "g") # precio
plt.show()

NameError: name 'diamonds_df' is not defined

- Utilizando scipy.stats, comprueba si la relación anterior se ajusta bien a un modelo de regresión lineal, tomando solo los 1000 primeros valores del dataset.

In [4]:
from scipy.stats import linregress
diamonds_df_1000=diamonds_df[:1000]

vol = (diamonds_df_1000.x*diamonds_df_1000.y*diamonds_df_1000.z).astype(float)
price = diamonds_df_1000.price.astype(float)

print linregress(vol,price)
#linregress(x[, y])

NameError: name 'diamonds_df' is not defined

- Utilizando seaborn, representa la nube de puntos del precio contra el carat y asociando al diagrama las distribuciones de las dos variables

In [5]:
import seaborn as sns
cols = ["carat", "price"]
diamonds_df2=diamonds_df[cols]
#sns.jointplot(x=diamonds_df.carat, y=diamonds_df.price, diamonds_df2=diamonds_df2, kind="kde")
sns.jointplot(x="carat", y="price", data=diamonds_df2, kind="kde")

ImportError: No module named rcsetup

- Identifica con un comando los diferentes tipos de corte (cut).

In [6]:
print diamonds_df.cut.unique()

NameError: name 'diamonds_df' is not defined

- Comprueba si hay diferencias significativas en la media del precio para los de corte "Ideal" y "Premium" y el resto, tomando 1000 valores de cada (nótese que no se puede asumir que las muestras son de una distribución normal). Puedes investigar funciones lógicas vectorizadas en NumPy como logical_or().

In [7]:
ideal_premium_cut = diamonds_df.loc[((diamonds_df.cut=="Ideal")|(diamonds_df.cut=="Premium")),:].iloc[0:1000]
other_cut = diamonds_df.loc[((diamonds_df.cut!="Ideal")&(diamonds_df.cut!="Premium")),:].iloc[0:1000]

#print ideal_premium_cut.price.mean()
#print other_cut.price.mean()
other_cut

NameError: name 'diamonds_df' is not defined

- Obtén la mediana del precio por cada valor de la claridad (clarity) y ordena los resultados de manera descendente.

In [13]:
cols = ["clarity", "price"]
diamonds_df[['clarity' ,'price']].groupby("clarity").median().sort_values("price", ascending=False)

NameError: name 'diamonds_df' is not defined

# Parte 3
Podemos descargar datos de empresas del dataset Forbes2000 (paquete HSAUR) mediante get_rdataset(). Encontraremos un ranking de empresas categorizadas por sector, y con datos de su país, ventas, beneficios, recursos y valor de mercado.

In [22]:
from statsmodels import datasets
forbes2000_df = datasets.get_rdataset('Forbes2000', 'HSAUR', cache=True).data
forbes2000_df.head()

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

- Seleccionar del dataframe los nombres de empresa que incluyen "elect" (sin tener en cuenta mayúsculas). Intentamos con esto obtener empresas “del sector de la electricidad” de forma aproximada.

In [23]:
forbes2000_elect_df=forbes2000_df.loc[(forbes2000_df.name.apply(str.upper).str.contains("ELECT")),:]
print forbes2000_elect_df.name.count()
forbes2000_elect_df.head()

50

,rank,name,country,category,sales,profits,assets,marketvalue
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
44,45,Samsung Electronics,South Korea,Semiconductors,50.22,5.95,54.58,72.72
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
151,152,Korea Electric Power,South Korea,Utilities,18.01,2.57,58.38,11.84
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56

- Utilizando como índice el país y la categoría y ordenándolo (sort_index), encontrar el valor de mercado de las empresas japonesas y estadounidenses.

In [24]:
forbes2000_cc_df = forbes2000_elect_df.loc[(forbes2000_elect_df.country=="Japan")|(forbes2000_elect_df.country=="United States")]

print forbes2000_cc_df.set_index(["country", "category"]).sort_index()["marketvalue"]

country        category
Japan          Business services & supplies          2.30
               Business services & supplies          3.25
               Business services & supplies          2.69
               Business services & supplies          3.29
               Capital goods                        10.28
               Capital goods                         6.54
               Capital goods                         6.38
               Capital goods                         2.52
               Capital goods                         1.55
               Consumer durables                    33.02
               Consumer durables                     9.43
               Consumer durables                     4.70
               Consumer durables                     3.23
               Semiconductors                       11.71
               Technology hardware & equipment       4.29
               Transportation                        3.72
               Transportation                        3.49
               Transportation                        3.22
               Utilities                            30.63
               Utilities                            17.56
               Utilities                            15.59
               Utilities                             8.67
               Utilities                             8.48
               Utilities                             6.41
               Utilities                             4.65
               Utilities                             3.76
               Utilities                             3.74
United States  Conglomerates                       328.54
               Conglomerates                        26.88
               Health care equipment & services      4.63
               Media                                23.56
               Software & services                   9.98
               Software & services                  13.28
               Technology hardware & equipment       2.67
               Utilities                            13.21
               Utilities                             1.94
Name: marketvalue, dtype: float64

- Sobre el mismo subconjunto de empresas eléctricas, obtener el país donde el sector de utilities tiene mayor valor de mercado medio en sus empresas

In [25]:
forbes2000_ut_df=forbes2000_elect_df.loc[forbes2000_elect_df.category=="Utilities"]
forbes2000_ut_df.groupby("country").mean().sort_values("marketvalue", ascending=False).head(1)["marketvalue"]

country
South Korea    11.84
Name: marketvalue, dtype: float64

- Volviendo al dataset original, obtener las empresas españolas.

In [26]:
forbes_spain=forbes2000_df.loc[forbes2000_df.country=="Spain"]
forbes_spain

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

- Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con números (filas) y etiquetas columnas), hay una operación específica para esto en pandas.

In [27]:
forbes_spain.loc[(forbes_spain.profits<=0)|(forbes_spain.profits==None)].set_index(["profits"])[["rank","name"]]

         rank        name
profits
-5.86     409  Telefsnica
-0.06    1993   Sogecable